################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PortalAPI/.vs/PortalAPI
/PortalAPI/bin/Debug
/PortalAPI/obj
/PortalAPI/PortalAPI.sln
